<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>计算属性computed</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h2>{{ message }}</h2>
    <br />
    <input v-model="message">
    <br />
    <input v-model="a">
    <br />
    <input v-model="obj.age">
    <br />
    <input v-model="sum">
    <br />
    <input v-model="c">
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      a:1,
      b:2,
      obj:{
        name:'gr',
        age:18
      }
    },
    // 计算属性
    computed: {
      sum:function(){
        return +this.a+(+this.obj.age)
      },
      c:{
        get(){
          return +this.a+this.b
        },
        set() {
          console.log(111);
        }
      }
    },
  })
</script>

</html>